@model IEnumerable<LIBRARY_mangemaent.Models.Book>


@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>




<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.id</td>
                <td>@book.name</td>
                <td>@book.bookcode</td>
                <td>@book.Quantity</td>
                <td>
                    @Html.ActionLink("Edit", "edid_book", new { id = book.id }) |
                    @Html.ActionLink("Delete", "delete_Book", new { id = book.id })
                </td>
            </tr>
        }
    </tbody>
</table>

